
//************************** COLORS **************************//

//primary color 
// $primary_color:#0056b8;
$primary_color : #645F58;
$secondary_color:#CEC8C1;

//************************** FONTS **************************//

@font-face {
    font-family: "Raleway";
    src: url(../../fonts/Raleway/Raleway-Regular.ttf);
}

@font-face {
    font-family: "Raleway";
    font-weight: bold;
    src: url(../../fonts/Raleway/Raleway-Bold.ttf);
}

@font-face {
    font-family: "Raleway";
    font-weight: 500;
    src: url(../../fonts/Raleway/Raleway-Medium.ttf);
}

@font-face {
    font-family: "Raleway";
    font-weight: 300;
    src: url(../../fonts/Raleway/Raleway-Light.ttf);
}

@font-face {
    font-family: "Raleway";
    font-weight: 300;
    font-style: italic;
    src: url(../../fonts/Raleway/Raleway-LightItalic.ttf);
}

@font-face {
    font-family: "Raleway";
    font-weight: 200;
    src: url(../../fonts/Raleway/Raleway-ExtraLight.ttf);
}

@font-face {
    font-family: "Raleway";
    font-weight: 200;
    font-style: italic; 
    src: url(../../fonts/Raleway/Raleway-ExtraLightItalic.ttf);
}

@font-face {
    font-family: "Raleway";
    font-weight: 100;
    src: url(../../fonts/Raleway/Raleway-Thin.ttf);
}

@font-face {
    font-family: "Airin";
    src: url(../../fonts/Airin/Airin.ttf); 
}

// other  variables

$content-padding : 0 110px; 
.mt-50{margin-top: 50px !important;}
.mb-50{margin-bottom: 50px !important;}
.mb-45{margin-bottom: 45px !important;}
