html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: middle;
  font-family: Raleway;
}

button:focus {
  outline: 0 !important;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body,
html {
  font-size: 16px;
  overflow-x: hidden;
  // overflow-y: auto !important;
  width: 100%;
  height: 100%;
  font-family: Raleway;
  // overflow: hidden;
  @include mq("desktop-common", "min") {
    background-color: $secondary_color;
  }
}

ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
.tooltip {
  z-index: 100;
}

a:focus {
  outline: none;
}
input:focus {
  outline: none !important;
}
a:active,
a:hover {
  outline: 0;
  text-decoration: none !important;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.k-animation-container,
.k-animation-container *,
.k-animation-container :after,
.k-block .k-header,
.k-dialog .k-window-content,
.k-list-container,
.k-widget,
.k-widget *,
.k-widget :before {
  box-sizing: border-box;
}

// size of icon
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-size: 20px !important;
}

body {
  /* width */
  &::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $primary_color;
    // width: 6px;
    border-radius: 4px;
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.container {
  padding: 0;
  @include mq("ipad", "min") {
    max-width: 1150px;
  }

  @include mq("tablet") {
    max-width: 100%;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    // min-height: 100vh;
    main {
      height: 100%;
      min-height: 100%;
    }
  }
}

.loader-wrapper {
  position: absolute;
  background: #fff;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999999999;
  img {
    width: 200px;
  }
}

/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

input:-webkit-autofill {
  background-color: transparent !important;
  box-shadow: transparent;
}
.dropdown-item.active,
.dropdown-item:active {
  background-color: $primary_color;
}

.dropdown-toggle {
  &.no-arrow {
    &::after {
      display: none;
    }
  }
}

@media screen and (min-width: 1366px) {
  .xl-container {
    max-width: 1150px;
    margin: auto;
  }
  .has-bg-white {
    background-color: #fff;
    padding: 0 30px;
  }
}

.navbar-light .navbar-toggler {
  color: #645f58;
  align-self: flex-end;
  border: none;
  cursor: pointer;
  @include mq("phablet") {
    position: absolute;
    left: -5px;
    top: 22px;
    padding: 0;
  }
}
.no-mob-padx {
  @include mq("phablet") {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
